<div class="nav2">
  <div class="nav2-title">
    <h1><%= @user.profile.business_name %></h1>
  </div>
  <div class="nav2-links">  
    <ul>
      <li><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">Menu</a></li>
      <li><a href = "javascript:void(0)" onclick = "document.getElementById('light2').style.display='block';document.getElementById('fade').style.display='block'">Contact</a></li>
    </ul>
  </div>
</div>


</div>  
<div id="fade" class="black_overlay"></div>