<div id="container">Loading...</div>
<!-- <body style="<%= show_user_bg %>"> -->

<body style="background: transparent url(http://www.toddswanderings.com/wp-content/uploads/2010/11/Izakaya.jpg); -webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;"></body>

<%= render 'main/nav2' %>

	