<!-- <body style="<%= show_user_bg %>"> -->

<!-- <body style="background: transparent url(http://www.toddswanderings.com/wp-content/uploads/2010/11/Izakaya.jpg); -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;"></body> -->

<script>$.backstretch(["http://www.toddswanderings.com/wp-content/uploads/2010/11/Izakaya.jpg","http://24.media.tumblr.com/tumblr_m9lzzcoCYm1qd3l0io1_1280.jpg"], {duration: 8000});</script>

<%# raw @user.profile.image.url %>

<%= render 'main/nav2' %>

<div id="light" class="lightbox">
  <h2>Menu</h2>
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Appetizers</a></li>
    </ul>
 
    <div id="tabs-1">
      <ul id="dish-list">
			<% @dishes.each do |dish| %>
			  <li><%= dish.name %></li>
			  <% end %>
			</ul>
    </div>
  </div>

<a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a></div>
</div>  
<div id="fade" class="black_overlay"></div>



  <%#  <% @instagram.each do |instagram| %>

  <%# <%= image_tag instagram.images.first.last.url %>

 <%# <% end %>