<!-- <body style="<%= show_user_bg %>"> -->

<div id="light" class="lightbox">
  <h2>Menu</h2>
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Appetizers</a></li>
    </ul>
 
    <div id="tabs-1">
      <ul id="dish-list">
			<% @dishes.each do |dish| %>
			  <li><%= dish.name %></li>
			  <% end %>
			</ul>
    </div>
  </div>


<a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a></div>
</div>  
<div id="fade" class="black_overlay"></div>

<%= render 'main/nav2' %>

<body style="background: transparent url(http://www.toddswanderings.com/wp-content/uploads/2010/11/Izakaya.jpg); -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;"></body>



<!--     <div id="title">
        <h1>Setai Grill</h1>
    </div> -->
<!-- <div id="thumbnails">
  <ul>
    <li>
      <a href="<%= @user.profile.image.url %>">
      </a>
    </li>
    </ul>
    <div id="pointer"></div>
</div>
<div id="pause"><a href="#">Paused</a></div>
    <div id="volume" class="all"><a href="#">Sounds</a></div> -->