@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color:white;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.nav2 {
  color:white;
  float: left;
  min-width: 150px;
  max-width: 540px;
  
  position: fixed;
  top: 15%;
  left: 15%;

  .nav2-title {
    background-color: rgba(4, 7, 60, .82);
    padding: 20px 0 10px 20px;
    overflow:hidden;
    h1 {
      float:left;
      text-align: center;
      color:white;
      margin: 0;
    }
  }
  .nav2-links {
    background-color: rgba(0, 0, 0, .82);
    padding: 20px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      overflow:hidden;
      li {
        float: left;
        padding-right: 20px;
      }
    }
    a {
      color:white;
      font-size: 24px;
      display:block;
      width:60px;
    }
  }
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto !important;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }


 .debug {
    display:none;
 }

// Menu styling
#dishapp {
  width: 75%;
  margin: 0 auto 0;
  background: black;
  padding: 0 20px 20px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
}
  #dishapp h1 {
    font-size: 36px;
    font-color: white;
    font-weight: bold;
    text-align: center;
    
    line-height: 1;
  }

#create-dish {
  position: relative;
}
  #create-dish input {
    width: 100%;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.4em;
    border: 0;
    outline: none;
    padding: 6px;
    border: 1px solid #999999;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  }
    #create-dish input::-webkit-input-placeholder {
      font-style: italic;
    }
  #create-dish span {
    position: absolute;
    z-index: 999;
    width: 170px;
    left: 50%;
    margin-left: -85px;
  }

#dish-list {
  margin-top: 10px;
    margin-left: 5px;
}
  #dish-list li {
    list-style: none;
    padding: 12px 20px 11px 0;
    position: relative;
    font-size: 16px;
    line-height: 1.1em;
    border-bottom: 1px solid #cccccc;
  }
    #dish-list li:after {
      content: "\0020";
      display: block;
      height: 0;
      clear: both;
      overflow: hidden;
      visibility: hidden;
    }
    #dish-list li.editing {
      padding: 0;
      border-bottom: 0;
    }
  #dish-list .editing .display,
  #dish-list .edit {
    display: none;
  }
    #dish-list .editing .edit {
      display: block;
    }
    #dish-list .editing input {
      width: 80%;
      font-size: 16px;
      font-family: inherit;
      margin: 0;
      line-height: 1.6em;
      border: 0;
      outline: none;
      padding: 5px 7px 0px 15px;
      border: 1px solid #999999;
      -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
      -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
      -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
      box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    }
  #dish-list .check {
    position: relative;
    top: 9px;
    margin: 0 10px 0 7px;
    float: left;
  }
  #dish-list .done .dish-text {
    text-decoration: line-through;
    color: #777777;
  }
  #dish-list .dish-destroy {
    position: absolute;
    right: 5px;
    top: 14px;
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
    #dish-list li:hover .dish-destroy {
      display: block;
    }
    #dish-list .dish-destroy:hover {
      background-position: 0 -20px;
    }


/* main */

.black_overlay{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.70;
  filter: alpha(opacity=80);
}
.lightbox {
  display: none;
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  padding: 16px;
  color:white;
  background-color: #000;
  z-index:1002;
  overflow:auto;
}

#light {
  font-size: 20px;
  font-weight: 500;
  list-style:none;
  line-height: 3em;
}
.active{
  background-color: #000;
}